
page-home {
	
}

ion-content {
	text-align: center;
	text-shadow: 2px 2px #ffffff;
}
ion-content {
	.main-body {
		color:#d35400;
	}

	img {
		border-radius: 20px;
	}
	a {
		color:#9b59b6;
		text-decoration: none;
	}
	.dannys-slack-icon {
		color:#9b59b6;
	}
}
